<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
    .container {
        max-width: 800px;
    }
    </style>
</head>
<body>
<div class="container">

    <nav class="navbar member-menu">
        <ul>
            <li><button class="w-100 btn btn-primary btn-lg"
                        th:onclick="|location.href='@{/member}'|"
                        type="button">회원 정보</button></li>
            <li><button class="w-100 btn btn-primary btn-lg"
                        th:onclick="|location.href='@{/member/parties}'|"
                        type="button">내 참가 팟</button></li>
        </ul>
    </nav>

    <div>
        <div class="py-5 text-center">
            <h2>팟 목록</h2>
        </div>

        <hr class="my-4">
        <div>
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Host</th>
                    <th>상품</th>
                    <th>팟인원</th>
                    <th>팟모집기간</th>
                    <th>인당최소주문금액</th>
                    <th>수령장소</th>
                    <th>팟참여멤버</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="party : ${myParties}">
                    <td th:text="${party.partyId}">ID</td>
                    <td th:text="${party.memberId}">10000</td>
                    <td>
                        <li th:text="${party.item.itemName}" ></li>
                        <li th:text="${party.item.itemRefLink}" ></li>
                        <li th:text="${party.item.itemMinOrderPrice}" ></li>
                        <li th:text="${party.item.itemDeliveryPrice}" ></li>
                    </td>
                    <td th:text="${party.partyMemberNum}">10000</td>
                    <td th:text="${party.duration}">10000</td>
                    <td th:text="${party.minOrderPricePerMember}">10000</td>
                    <td>
                        <li th:text="${party.receiveLocation.latitude}"></li>
                        <li th:text="${party.receiveLocation.longitude}"></li>
                    </td>
                    <td>
                        <ul>
                            <li th:each="member : ${party.partyMembers}" th:text="${member}"></li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        th:onclick="|location.href='@{/}'|"
                        type="button">홈으로</button>
            </div>
        </div>
    </div>

</div> <!-- /container -->
</body>
</html>