<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/global.css}" href="../css/global.css" rel="stylesheet">
    <link th:href="@{/css/style.css}" href="../css/style.css" rel="stylesheet">
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Eighth navbar example">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">GonGuGongBae</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07"
                    aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample07">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/member}">My Page</a>
                    </li>
                </ul>
                <form class="me-lg-3">
                    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                </form>
                <form th:action="@{/logout}" method="post" class="text-end">
                    <button class="btn btn-outline-light me-2" type="submit">Log out</button>
                </form>
            </div>
        </div>
    </nav>
</header>
<div class="new-party">
    <div class="new-party-container">
        <div class="new-party-wrapper">
            <article class="new-party-form">
                <h2 class="page-heading">Create a New Party</h2>
                <form th:action th:object="${party}" method="post">

                    <div class="form-group">
                        <label class="form-label" for="item.itemName">상품명(구매처)
                            <input type="text" id="item.itemName" th:field="*{item.itemName}" th:errorclass="field-error"
                                   name="item.itemName" class="form-control" placeholder="상품명을 입력하세요">
                            <div class="form-error-msg" th:errors="*{item.itemName}"> 상품명 오류</div>
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="item.itemRefLink">상품링크
                            <input type="text" id="item.itemRefLink" th:field="*{item.itemRefLink}" th:errorclass="field-error"
                                   name="item.itemRefLink" class="form-control" placeholder="상품링크를 입력하세요">
                            <div class="form-error-msg" th:errors="*{item.itemRefLink}"> 상품링크 오류</div>
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="item.itemMinOrderPrice">최소주문금액
                            <input type="text" id="item.itemMinOrderPrice" th:field="*{item.itemMinOrderPrice}"
                                   th:errorclass="field-error" name="item.itemMinOrderPrice" class="form-control"
                                   placeholder="최소주문금액을 입력하세요">
                            <div class="form-error-msg" th:errors="*{item.itemMinOrderPrice}"> 최소주문금액 오류</div>
                        </label>

                        <label class="form-label" for="item.itemDeliveryPrice">배송(배달)비
                            <input type="text" id="item.itemDeliveryPrice" th:field="*{item.itemDeliveryPrice}"
                                   th:errorclass="field-error" name="item.itemDeliveryPrice" class="form-control"
                                   placeholder="배송(배달)비를 입력하세요">
                            <div class="form-error-msg" th:errors="*{item.itemDeliveryPrice}"> 배송(배달)비 오류</div>
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="partyMemberNum">인원수
                            <input type="text" id="partyMemberNum" th:field="*{partyMemberNum}" th:errorclass="field-error"
                                   name="partyMemberNum" class="form-control" placeholder="인원수를 입력하세요">
                            <div class="form-error-msg" th:errors="*{partyMemberNum}">인원수 오류</div>
                        </label>

                        <label class="form-label" for="duration">모집기간
                            <input type="text" id="duration" th:field="*{duration}" th:errorclass="field-error" name="duration"
                                   class="form-control" placeholder="모집기간을 입력하세요">
                            <div class="form-error-msg" th:errors="*{duration}"> 모집기간 오류</div>
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="minOrderPricePerMember">인당 최소 주문 금액
                            <input type="text" id="minOrderPricePerMember" th:field="*{minOrderPricePerMember}"
                                   th:errorclass="field-error" name="minOrderPricePerMember" class="form-control"
                                   placeholder="인당 최소 주문 금액을 입력하세요">
                            <div class="form-error-msg" th:errors="*{minOrderPricePerMember}"> 인당 최소 주문 금액 오류</div>
                        </label>
                    </div>

                    <div class="notice" th:if="${#fields.hasGlobalErrors()}">
                        <p class="form-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="receiveLocation.latitude">수령장소 - 위도
                        <input type="text" id="receiveLocation.latitude" th:field="*{receiveLocation.latitude}"
                               th:errorclass="field-error" name="receiveLocation.latitude" class="form-control"
                               placeholder="수령장소(위도)를 입력하세요">
                        <div class="form-error-msg" th:errors="*{receiveLocation.latitude}"> 수령장소(위도) 오류</div>
                        </label>
                        <label class="form-label" for="receiveLocation.longitude">수령장소 - 경도
                            <input type="text" id="receiveLocation.longitude" th:field="*{receiveLocation.longitude}"
                                   th:errorclass="field-error" name="receiveLocation.longitude" class="form-control"
                                   placeholder="수령장소(경도)를 입력하세요">
                            <div class="form-error-msg" th:errors="*{receiveLocation.longitude}"> 수령장소(경도) 오류</div>
                        </label>
                    </div>

                    <div class="form-button-group">
                        <button class="sign-up-button" type="submit">팟 등록</button>
                    </div>

                </form>
                <span class="section-divide"></span>
            </article>

            <aside class="sign-up-sign-in">
                <a th:href="@{/}">Cancel to Create a New Party</a>
            </aside>

        </div>
    </div>
</div> <!-- /container -->
</body>

</html>