<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
    .container {
        max-width: 560px;
    }
    .field-error {
        border-color: #dc3545;
        color : #dc3545;
    }
    </style>
</head>
<body>
<div class="container">

    <div class="py-5 text-center">
        <h2>팟 생성</h2>
    </div>

    <h4 class="mb-3">팟 정보 입력</h4>

    <form th:action th:object="${party}" method="post">

        <div>
            <label for="item.itemName">상품명(구매처)</label>
            <input type="text" id="item.itemName" th:field="*{item.itemName}" th:errorclass="field-error"
                   name="item.itemName" class="form-control" placeholder="상품명을 입력하세요">
            <div class="field-error" th:errors="*{item.itemName}"> 상품명 오류</div>
        </div>

        <div>
            <label for="item.itemRefLink">상품링크</label>
            <input type="text" id="item.itemRefLink" th:field="*{item.itemRefLink}" th:errorclass="field-error"
                   name="item.itemRefLink" class="form-control" placeholder="상품링크를 입력하세요">
            <div class="field-error" th:errors="*{item.itemRefLink}"> 상품링크 오류</div>
        </div>

        <div>
            <label for="item.itemMinOrderPrice">최소주문금액</label>
            <input type="text" id="item.itemMinOrderPrice" th:field="*{item.itemMinOrderPrice}" th:errorclass="field-error"
                   name="item.itemMinOrderPrice" class="form-control" placeholder="최소주문금액을 입력하세요">
            <div class="field-error" th:errors="*{item.itemMinOrderPrice}"> 최소주문금액 오류</div>
        </div>

        <div>
            <label for="item.itemDeliveryPrice">배송(배달)비</label>
            <input type="text" id="item.itemDeliveryPrice" th:field="*{item.itemDeliveryPrice}" th:errorclass="field-error"
                   name="item.itemDeliveryPrice" class="form-control" placeholder="배송(배달)비를 입력하세요">
            <div class="field-error" th:errors="*{item.itemDeliveryPrice}"> 배송(배달)비 오류</div>
        </div>

        <div>
            <label for="partyMemberNum">인원수</label>
            <input type="text" id="partyMemberNum" th:field="*{partyMemberNum}" th:errorclass="field-error"
                   name="partyMemberNum" class="form-control" placeholder="인원수를 입력하세요">
            <div class="field-error" th:errors="*{partyMemberNum}"> 인원수 오류</div>
        </div>

        <div>
            <label for="duration">모집기간</label>
            <input type="text" id="duration" th:field="*{duration}" th:errorclass="field-error"
                   name="duration" class="form-control" placeholder="모집기간을 입력하세요">
            <div class="field-error" th:errors="*{duration}"> 모집기간 오류</div>
        </div>

        <div>
            <label for="minOrderPricePerMember">인당 최소 주문 금액</label>
            <input type="text" id="minOrderPricePerMember" th:field="*{minOrderPricePerMember}" th:errorclass="field-error"
                   name="minOrderPricePerMember" class="form-control" placeholder="인당 최소 주문 금액을 입력하세요">
            <div class="field-error" th:errors="*{minOrderPricePerMember}"> 인당 최소 주문 금액 오류</div>
        </div>

        <div>
            <label for="receiveLocation.latitude">수령장소 - 위도</label>
            <input type="text" id="receiveLocation.latitude" th:field="*{receiveLocation.latitude}" th:errorclass="field-error"
                   name="receiveLocation.latitude" class="form-control" placeholder="수령장소(위도)를 입력하세요">
            <div class="field-error" th:errors="*{receiveLocation.latitude}"> 수령장소(위도) 오류</div>
        </div>

        <div>
            <label for="receiveLocation.longitude">수령장소 - 경도</label>
            <input type="text" id="receiveLocation.longitude" th:field="*{receiveLocation.longitude}" th:errorclass="field-error"
                   name="receiveLocation.longitude" class="form-control" placeholder="수령장소(경도)를 입력하세요">
            <div class="field-error" th:errors="*{receiveLocation.longitude}"> 수령장소(경도) 오류</div>
        </div>

        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">팟 등록</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        th:onclick="|location.href='@{/}'|"
                        type="button">취소</button>
            </div>
        </div>

    </form>

</div> <!-- /container -->
</body>
</html>