<!DOCTYPE html>
<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 800px">

    <div class="py-5 text-center">
        <h2>회원 목록</h2>
    </div>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>아이디</th>
                <th>회원명</th>
                <th>위도</th>
                <th>경도</th>
                <th>참가팟</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <td><a th:href="@{|/members/${member.id}|}" th:text="${member.id}">ID</a></td>
                <td><a th:href="@{|/members/${member.id}|}" th:text="${member.loginId}">아이디</a></td>
                <td><a th:href="@{|/members/${member.id}|}" th:text="${member.username}">회원명</a></td>
                <td th:text="${member.address.latitude}">10000</td>
                <td th:text="${member.address.longitude}">10000</td>
                <td th:text="${#lists.size(member.parties)}">10</td>
            </tr>
            </tbody>
        </table>
    </div>

</div> <!-- /container -->
</body>
</html>