<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/global.css}" href="../css/global.css" rel="stylesheet">
    <link th:href="@{/css/style.css}" href="../css/style.css" rel="stylesheet">
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Eighth navbar example">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">GonGuGongBae</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07"
                    aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample07">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/member}">My Page</a>
                    </li>
                </ul>
                <form class="me-lg-3">
                    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                </form>
                <form th:action="@{/logout}" method="post" class="text-end">
                    <button class="btn btn-outline-light me-2" type="submit">Log out</button>
                </form>
            </div>
        </div>
    </nav>
</header>
<div class="my-page">
    <div class="my-page-container">
        <div class="my-page-wrapper">
            <aside class="my-page-sidemenu">
                <ul>
                    <li><a th:href="@{/member}" class="active">Profile</a></li>
                    <li><a th:href="@{/member/parties}" class="active">My Parties</a></li>
                </ul>
            </aside>
            <article class="member-profile">
                <h2 class="page-heading">Profile</h2>

                <div class="form-group">
                    <label class="form-label" for="memberId">Index
                        <input type="text" id="memberId" name="memberId" class="form-control" th:value="${member.id}" readonly>
                    </label>
                </div>

                <div class="form-group">
                    <label class="form-label" for="loginId">아이디
                        <input type="text" id="loginID" name="loginId" class="form-control" th:value="${member.loginId}" readonly>
                    </label>
                </div>

                <div class="form-group">
                    <label class="form-label" for="username">회원명
                        <input type="text" id="username" name="username" class="form-control" th:value="${member.username}"
                               readonly>
                    </label>
                </div>

                <div class="form-group">
                    <label class="form-label" for="latitude">위도
                        <input type="text" id="latitude" name="latitude" class="form-control" th:value="${member.address.latitude}"
                               readonly>
                    </label>
                </div>

                <div class="form-group">
                    <label class="form-label" for="longitude">경도
                        <input type="text" id="longitude" name="longitude" class="form-control"
                               th:value="${member.address.longitude}" readonly>
                    </label>
                </div>

                <div class="form-group">
                    <label class="form-label" for="parties">팟
                        <input type="text" id="parties" name="parties" class="form-control"
                               th:value="${#lists.size(member.parties)}" readonly>
                    </label>
                </div>

                <div class="form-button-group">
                    <button class="member-edit-button" th:onclick="|location.href='@{/member/edit}'|"
                            type="button">회원 정보 수정</button>
                </div>

                <span class="section-divide"></span>

                <div class="member-profile-go-home">
                    <a th:href="@{/}"> Go Back to Home </a>
                </div>
            </article>
        </div>
    </div>
</div> <!-- /container -->
</body>

</html>