<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/global.css}" href="../css/global.css" rel="stylesheet">
    <link th:href="@{/css/style.css}" href="../css/style.css" rel="stylesheet">
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Eighth navbar example">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">GonGuGongBae</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07"
                    aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample07">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/member}">My Page</a>
                    </li>
                </ul>
                <form class="me-lg-3">
                    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                </form>
                <form th:action="@{/logout}" method="post" class="text-end">
                    <button class="btn btn-outline-light me-2" type="submit">Log out</button>
                </form>
            </div>
        </div>
    </nav>
</header>
<div class="my-page">
    <div class="my-page-container">
        <div class="my-page-wrapper">
            <aside class="my-page-sidemenu">
                <ul>
                    <li><a th:href="@{/member}" class="active">Profile</a></li>
                    <li><a th:href="@{/member/parties}" class="active">My Parties</a></li>
                </ul>
            </aside>
            <article class="member-edit-form">
                <h2 class="page-heading">Edit Profile</h2>
                <form th:action th:object="${member}" method="post">

                    <div class="notice" th:if="${#fields.hasGlobalErrors()}">
                        <p class="form-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="id">Index
                            <input type="text" id="id" name="id" class="form-control" value="1" th:value="${member.id}" readonly>
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="loginId">ID
                            <input type="text" id="loginId" name="loginId" class="form-control" th:value="${member.loginId}"
                                   readonly>
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="username">회원명
                            <input type="text" id="username" th:field="*{username}" th:errorclass="field-error" name="username"
                                   class="form-control" placeholder="회원이름을 입력하세요">
                            <div class="form-error-msg" th:errors="*{username}">회원명 오류 메세지</div>
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="password">비밀번호
                            <input type="password" id="password" th:field="*{password}" th:errorclass="field-error"
                                   name="password" class="form-control" placeholder="비밀번호를 입력하세요">
                            <div class="form-error-msg" th:errors="*{password}">비밀번호 오류 메세지</div>
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="latitude">위도
                            <input type="text" id="latitude" th:field="*{latitude}" th:errorclass="field-error" name="latitude"
                                   class="form-control" placeholder="주소(위도)를 입력하세요">
                            <div class="form-error-msg" th:errors="*{latitude}">위도 오류 메세지</div>
                        </label>

                        <label class="form-label" for="longitude">경도
                            <input type="text" id="longitude" th:field="*{longitude}" th:errorclass="field-error" name="longitude"
                                   class="form-control" placeholder="주소(경도)를 입력하세요">
                            <div class="form-error-msg" th:errors="*{longitude}">경도 오류 메세지</div>
                        </label>
                    </div>

                    <div class="form-button-group">
                        <button class="member-edit-button" type="submit">변경 사항 저장</button>
                    </div>

                    <span class="section-divide"></span>

                    <div class="member-profile-go-home">
                        <a th:href="@{/member}"> Cancel to Edit Profile </a>
                    </div>
                </form>
            </article>
        </div> <!--my-page-wrapper -->
    </div> <!--my-page-contianer -->
</div> <!--my-page -->
</body>

</html>