.section-divide{
  display: block;
  width: 100%;
  height: 1px;
  margin: 1rem 0;
  background-color: #0c1721;
  opacity: 0.2;
}

.sign-in,
.sign-up,
.my-page {
  padding : 4rem 0;
  display : block;
}

.sign-in-container,
.sign-up-container,
.my-page-container{
  position: relative;
  width: 100%;
  max-width: 992px;
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.sign-in-wrapper,
.sign-up-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.my-page-wrapper {
  display: flex;
}

.my-page-sidemenu {
  width : 25%;
  padding : 0 1rem;
}

.my-page-sidemenu a {
  display: block;
  position: relative;
  padding: 8px 16px;
  background-color: var(--color-light-white);
  color: var(--color-black);
  font-weight: 500;
  text-align: left;
  cursor: pointer;
}

.my-page-sidemenu a:hover{
  color : var(--color-dark-pink);
}

.sign-in-form,
.sign-up-form{
  width: 100%;
  max-width: 50%;
}

.member-edit-form,
.member-profile,
.member-parties{
  width : 75%;
  padding : 0 1rem 0 2rem;
}

.page-heading{
  font-size: 2.52587rem;
  font-weight: 400;
  margin-bottom: 2rem;
  text-align: center !important;
}

.form-error{
  color : var(--color-dark-orange);
  font-size : 0.875rem;
}

.form-label{
  width: 100%;
  color : var(--color-dark-grey);
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 2;
}

.form-control{
  width : 100%;
  border: 1px solid transparent;
  border-radius: 0;
  background-color: var(--color-light-white);
  font-size : 1rem;
}

.field-error{
  border: 1px solid var(--color-dark-pink);
}

.form-error-msg{
  color: var(--color-dark-orange);
  font-size: 0.875rem;
  font-weight: 400;
}

.form-button-group {
  display: flex;
  flex-direction: row-reverse;
}

.sign-in-button,
.sign-up-button,
.member-edit-button{
  border: 2px solid var(--color-dark-pink);
  border-radius: 100px;
  padding: 0.5rem 1rem;
  background-color: var(--color-dark-pink);
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  text-align: center;
}

.sign-in-sign-up,
.sign-up-sign-in,
.sign-up-go-home,
.member-profile-go-home {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 0.8rem;
}

.cards-group{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start
}

.party-card {
  width : 30%;
  border: 1px solid var(--color-light-grey);
  border-radius: 1rem;
  padding : 1rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.party-card-title{
  width : 100%;
  white-space: nowrap;
  overflow : hidden;
  text-overflow: ellipsis;
}