<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Pumpkin Market</title>
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/global.css}" href="../css/global.css" rel="stylesheet">
    <link th:href="@{/css/style__home.css}" href="../css/style__home.css" rel="stylesheet">
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Eighth navbar example">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">GonGuGongBae</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample07">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/member}">My Page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/login}">SIGN IN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/signup}">SIGN UP</a>
                    </li>
                </ul>
                <form class="me-lg-3">
                    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                </form>
            </div>
        </div>
    </nav>
</header>
<div class="home">
    <section class="banner">
        <div class="banner-container">
            <div class="banner-wrapper">
                <article class="section-content">
                    <div class="section-headings">
                        <h2 class="section-heading">Hello, This is GonGu-GongBae Platform</h2>
                        <p class="section-subheading">주변에서 함께 물건 또는 음식을 주문/배송할 사람을 찾아보아요 :)</p>
                    </div>
                    <div class="section-buttons">
                        <a class="section-button" th:href="@{/signup}">공구공배 함께하기</a>
                    </div>
                </article>
            </div>
        </div>
    </section>
</div>
</body>
</html>