<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Pumpkin Market</title>
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Eighth navbar example">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">GonGuGongBae</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample07">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/member}">My Page</a>
                    </li>
                </ul>
                <form class="me-lg-3">
                    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                </form>
                <form th:action="@{/logout}" method="post" class="text-end">
                    <button class="btn btn-outline-light me-2" type="submit">Log out</button>
                </form>
            </div>
        </div>
    </nav>
</header>
<div class="container" style="padding: 100px 0;">
    <div class="row">
        <button class="w-100 btn btn-secondary btn-lg" type="button"
                th:onclick="|location.href='@{/party/add}'|">팟 모집</button>
    </div>

    <div class="row">
        <div th:each="party : ${parties}" class="card" style="width: 18rem;">
            <div class="card-body" th:classappend="${party.memberId} == ${member.id} ? 'bg-danger'">
                <h5 class="card-title" th:text="${party.item.itemName}"></h5>
                <p class="card-text"> 팟 정보들이 들어갈 공간입니다 </p>
                <form th:action="@{/party/participate/{partyId}(partyId=${party.partyId})}" method="post">
                    <button class="w-100 btn btn-dark btn-lg" type="submit" th:onclick="|location.href='@{/}'|"> 팟 참가 </button>
                </form>
                <a href="/" class="btn btn-primary">자세히</a>
            </div>
        </div>
    </div>

</div> <!-- /container -->

</body>
</html>