<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Pumpkin Market</title>
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/global.css}" href="../css/global.css" rel="stylesheet">
    <link th:href="@{/css/style.css}" href="../css/style.css" rel="stylesheet">
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Eighth navbar example">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">GonGuGongBae</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07"
                    aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample07">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/member}">My Page</a>
                    </li>
                </ul>
                <form class="me-lg-3">
                    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                </form>
                <form th:action="@{/logout}" method="post" class="text-end">
                    <button class="btn btn-outline-light me-2" type="submit">Log out</button>
                </form>
            </div>
        </div>
    </nav>
</header>
<div class="login-home">
    <div class="login-home-container">
        <div class="login-home-wrapper">
            <article class="login-home-parties">
                <div class="form-button-group">
                    <button class="party-add-button" type="button" th:onclick="|location.href='@{/party/add}'|">팟 모집</button>
                </div>
                <span class="section-divide"></span>
                <div class="cards-group">
                    <div th:each="party : ${parties}" class="party-card">
                        <div class="party-card-body" th:classappend="${party.memberId} == ${member.id} ? 'bg-danger'">
                            <h3 class="party-card-title" th:text="${party.item.itemName}">팟이름팟이름팟이름팟이름팟이름</h3>
                            <p class="party-card-text">
                            <ul>
                                <li th:text="${party.partyId}">ID</li>
                                <li th:text="${party.memberId}">10000</li>

                                <li th:text="${party.item.itemName}">상품명</li>
                                <li th:text="${party.item.itemRefLink}">상품링크</li>
                                <li th:text="${party.item.itemMinOrderPrice}">최소주문금액</li>
                                <li th:text="${party.item.itemDeliveryPrice}">배송/배달비</li>

                                <li th:text="${party.partyMemberNum}">모집인원</li>
                                <li th:text="${party.duration}">모집기간</li>
                                <li th:text="${party.minOrderPricePerMember}">인당최소주문금액</li>

                                <li th:text="${party.receiveLocation.latitude}">수령장소(위도)</li>
                                <li th:text="${party.receiveLocation.longitude}">수령장소(경도)</li>
                            </ul>
                            <!--<ul>
                                          <li th:each="member : ${party.partyMembers}" th:text="${member}">팟참가멤버</li>
                                        </ul>-->
                            </p>
                            <form class="party-card-buttons" th:action="@{/party/participate/{partyId}(partyId=${party.partyId})}" method="post">
                                <button class="party-card-button" type="submit"> 팟 참가 </button>
                                <button class="party-card-button" th:onclick="|location.href='@{/}'|" type="button">자세히</button>
                            </form>
                        </div>
                        <!--card-body-->
                    </div>
                    <!--card-->
                </div>
                <!--cards-group-->
            </article>
        </div>
    </div>
</div> <!-- /container -->

</body>

</html>