<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/global.css}" href="../css/global.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../css/style.css">
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Eighth navbar example" style="height : 6rem">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">GonGuGongBae</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07"
                    aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample07">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/member}">My Page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/login}">SIGN IN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/signup}">SIGN UP</a>
                    </li>
                </ul>
                <form>
                    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                </form>
            </div>
        </div>
    </nav>
</header>
<div class="sign-in">
    <div class="sign-in-container">
        <div class="sign-in-wrapper">
            <article class="sign-in-form">
                <h2 class="page-heading"> Welcome Back! </h2>
                <form th:action th:object="${loginForm}" method="post">

                    <div class="notice" th:if="${#fields.hasGlobalErrors()}">
                        <p class="form-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="loginId">ID
                            <input type="text" id="loginId" th:field="*{loginId}" th:errorclass="field-error" name="loginId"
                                   class="form-control" placeholder="ID를 입력하세요">
                            <div class="form-error-msg" th:errors="*{loginId}">아이디 오류 메세지</div>
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="password">비밀번호
                            <input type="password" id="password" th:field="*{password}" th:errorclass="field-error" name="password"
                                   class="form-control" placeholder="비밀번호를 입력하세요">
                            <div class="form-error-msg" th:errors="*{password}">비밀번호 오류 메세지</div>
                        </label>
                    </div>

                    <div class="form-button-group">
                        <button class="button login-button" type="submit">로그인</button>
                    </div>

                </form>
                <span class="section-divide"></span>
            </article>

            <aside class="sign-in-sign-up">
                <a th:href="@{/signup}"> Create a new account </a>
            </aside>
        </div>
    </div>
</body>

</html>